*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #2B2524;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #F0E7E4;
  line-height: 1.6;
}

header{
  width: 100vw;
  text-transform: uppercase;
  float: right;
  position: fixed;
  z-index: 10;
  font-weight: bold;
  text-decoration: none;
  background-color: #DB3939;
  padding: 10px;
  top: 0px;
  left: 0px;  
}

 nav a{
   display: inline;
   padding: 0px 10px; 
   text-decoration: none;
   color: black;
   float: right;
   font-family: Georgia;
}

.spooky{
  font-weight: 700;
  float: left;
  font-family: Georgia;
}


main{
  position: relative;
  margin: 25px;
  padding: 25px, 25px, 0px, 25px;
  width: 500px;
  
}

h1{
  font-family: Georgia;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  padding-top: 30px;
}

.hero{
  width: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sticky{
width: 90vw;
top: 200px;  
position: sticky;
}

.unknomn{
height: 150px;
width: auto;
float: right;  
}

.story{
text-align: justify;
}
/*HVHA*/
a:link {
   color:#EDEDED ;
}
a:visited {
   color:#120909 ;
}
a:hover {
   color: #8C4545 ;
}
a:active {
   color:#b22222 ;



