*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: #2B2524;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #F0E7E4;
  line-height: 1.6;
}

header{
  text-transform: uppercase;
  float: right;
  position: fixed;
  padding: 20px, 0px, 20px, 0px;
  letter-spacing: 2px;
  z-index: 10;
  font-weight: bold;
  text-decoration: none;
  width: 100vw;
}

main{
  position: relative
  margin: 25px;
  
}

h1{
  font-family: Georgia;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.hero{
  width: 500px;
  border-radius: 5px;
}
